NEXT_PUBLIC_SUPABASE_URL=https://nbnqfcjcesvsuwuzqwts.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ibnFmY2pjZXN2c3V3dXpxd3RzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyNjM1NzEsImV4cCI6MjA5NTgzOTU3MX0.VUXwYhLiwcmnIRccpXO3PXT19nIq2YO3ZZsS5JRyx4E
